.Rproj.user
.Rhistory
.RData
.Ruserdata

# Skip key
gbifpasswd.txt

# Ignore rest of data (too big)
data/

# And resSaves folder (download)
resSaves/

# Ignore figures
figures/

# Corine and Dou et al
corine/
DouEtAl/

# And the PNVHabitats runs
PNVHabitats__ClimateRun